.menu_bar{
    display: flex;
    list-style-type: none;
    background-color:black;
    color: white;
    width: fit-content;
    margin: 10px;
    border-radius:10px
  }
  .menu_bar li{
    padding: 20px;
  }